<div class="my-10 md:my-24">
  <h1 class="text-3xl font-bold my-4 md:my-7">What I Specialize in</h1>
  <div class="grid grid-cols-2 gap-5">
    <div id="box-1" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30 ">
      <div class="flex justify-between items-center mb-2">
        <h2 class="text-xl font-bold mb-2 text-shadow">Full-Stack Web Development</h2>
        <%= image_tag "icons/Stack_icon.svg", alt: "FullStack", class: "w-10 h-10 rounded-full" %>
      </div>
      <p class="text-md font-light">Expertise in both front-end and back-end technologies to create comprehensive web solutions.</p>
    </div>
    <div id="box-2" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30">
      <div class="flex justify-between items-center mb-2 ">
        <h2 class="text-xl font-bold mb-2 text-shadow">Mobile App Development</h2>
        <%= image_tag "icons/Mobile_icon.svg", alt: "Mobile", class: "w-10 h-10 rounded-full" %>
      </div>
      <p class="text-md font-light">Creating responsive and intuitive mobile applications for iOS and Android platforms.</p>
    </div>
    <div id="box-3" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30">
      <div class="flex justify-between items-center mb-2 ">
        <h2 class="text-xl font-bold mb-2 text-shadow">UI/UX Design</h2>
        <%= image_tag "icons/Frontend_icon.svg", alt: "UIUX", class: "w-10 h-10" %>
      </div>
      <p class="text-md font-light">Crafting visually appealing and user-friendly interfaces for seamless digital experiences.</p>
    </div>
    <div id="box-4" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30 ">
      <div class="flex justify-between items-center mb-2">
        <h2 class="text-xl font-bold mb-2 text-shadow">Performance Optimization</h2>
        <%= image_tag "icons/Performance_icon.svg", alt: "Performance", class: "w-10 h-10 " %>
      </div>
      <p class="text-md font-light">Enhancing website and application speed, responsiveness, and overall performance.</p>
    </div>
    <div id="box-5" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30">
      <div class="flex justify-between items-center mb-2 ">
        <h2 class="text-xl font-bold mb-2 text-shadow">AI Integration</h2>
        <%= image_tag "icons/AI_icon.svg", alt: "AI", class: "w-10 h-10 rounded-full" %>
      </div>
      <p class="text-md font-light">Implementing AI technologies to enhance functionality and user experience in applications.</p>
    </div>
    <div id="box-6" class="specialization-box border-2 border-gray-300 rounded-md p-4 box-shadow bg-background-primary backdrop-blur-lg z-30">
      <div class="flex justify-between items-center mb-2 ">
        <h2 class="text-xl font-bold mb-2 text-shadow">Scalability</h2>
        <%= image_tag "icons/Scalability_icon.svg", alt: "Scalability", class: "w-10 h-10" %>
      </div>
      <p class="text-md font-light">Designing and implementing solutions that can grow and adapt to increasing demands.</p>
    </div>
  </div>
</div>
